
{% extends 'base.html.twig' %}
{% block body %}
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Bureau</th>
                                            <th><center>Actions</center></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dept in depts %}
                                            <tr>
                                                <td><a href="{{ path('seniorManager_dept_show', { 'id': dept.id }) }}">{{ dept.id }}</a></td>
                                                <td>{{ dept.nom }}</td>
                                                <td>{{ dept.bur }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="{{ path('seniorManager_dept_show', { 'id': dept.id }) }}">consulter</a>
                                                    </button>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="{{ path('seniorManager_dept_edit', { 'id': dept.id }) }}">modifier</a>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <button type="button" class="btn btn-dark">
                                        <a href="{{ path('seniorManager_dept_new') }}">Creer </a>
                                    </button>

                                    {% endblock %}