{% extends 'base.html.twig' %}
{% block body %}


                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>username</th>
                                    <th>email</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Role</th>
                                    <th>Dateentree</th>
                                    <th>Datesortie</th>
                                    <th>Prixh</th>
                                    <th>Soldeo</th>
                                    <th>Moiss</th>
                                    <th>Aquis</th>
                                    <th>Superieur</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td><a href="{{ path('seniorManager_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.nom }}</td>
                                        <td>{{ user.prenom }}</td>
                                        <td> <!--{% for role in user.roles %}
                                                {{role}}
                                            {%endfor%}-->
                                            {{ user.roleUser }}
                                        </td>
                                        <td>{% if user.dateEntree %}{{ user.dateEntree|date('Y-d-m ') }}{% endif %}</td>
                                        <td>{% if user.dateSortie %}{{ user.dateSortie|date('Y-d-m ') }}{% endif %}</td>
                                        <td>{{ user.prixH }}</td>
                                        <td>{{ user.soldeO }}</td>
                                        <td>{{ user.moisS }}</td>
                                        <td>{{ user.aquis }}</td>
                                        <td>{{ user.senior }}</td>
                                        <td>{{ user.etat }}</td>
                                        <td>

                                            <button type="button" class="btn btn-default">
                                                <a href="{{ path('seniorManager_user_show', { 'id': user.id }) }}">consulter</a>
                                            </button>
                                            <button type="button" class="btn btn-default">
                                                <a href="{{ path('seniorManager_user_edit', { 'id': user.id }) }}">modifier</a>
                                            </button>

                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                            <button type="button" class="btn btn-dark">
                                <a data-toggle="modal" id="add_new" href="#responsive">Creer </a>
                                {# {{ path('seniorManager_user_new') }} #}
                            </button>


                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />


    <!-- /page content -->

    <!-- Modal -->
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="ajout_user">Ajout user</h4>
            <h4 class="modal-title" id="edit_user">Modifier user</h4>
        </div>
        <div id="warning-add" class="alert alert-danger">
            <strong>Alert!</strong> <div id="msg_alert"></div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <form class="form-horizontal" role="form" id="form_center">
                        <div class="form-body">
                            <input type="text" id="id_compagnie_user" hidden>
                            <input type="text" id="id_user" hidden>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nom</label>
                                <div class="col-md-9">
                                    <input type="text" id="username" class="form-control" placeholder="Username"> </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" id="email" class="form-control" placeholder="Email" autocomplete="Off"> </div>

                            </div>



                            <div class="form-group" id="password">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" id="password" class="form-control" placeholder="Password" autocomplete="OFF"> </div>

                            </div>


                            <div class="form-group" id="role">
                                <label class="col-md-3 control-label">role</label>
                                <div class="col-md-9">
                                    <select id="role" class="form-control">
                                        {% for role in roles %}
                                            <option value="{{ role.id }}" name="{{ role.type }}">{{ role.designation }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="senior" hidden>
                                <label class="col-md-3 control-label">Son senior</label>
                                <div class="col-md-9">
                                    <select id="senior" class="form-control">
                                        {% for senior in seniors %}
                                            <option value="{{ senior.id }}" name="{{ senior.username }}">{{ senior.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            <button type="button" class="btn green" id="adduser">Ajouter User</button>
                            <button type="button" class="btn green" id="edituser">Edit type</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function() {

            $("select#role").change(function () {
                console.log($(this).find('option:selected').attr("name"));
                if ($(this).find('option:selected').attr("name") == '4') {
                    console.log('ok');
                    $("div#senior").show();
                } else {
                    console.log('not ok');
                    $("div#senior").hide();
                }
                console.log('name');
            });

            $("#add_new").click(function () {
                $("#edit_user").hide();
                $("#ajout_user").show();
                $("#edituser").hide();
                $("#adduser").show();
                $("div#warning-add").hide();

                $("input#username").val('');
                $("input#email").val('');
                $("input#password").val('');
                $("select#role").val('');
                $("select#compagnie").val('');
                console.log('ok');
            });

            $("button#adduser").click(function(){

                $("div#warning-add").hide();
                var username=$("#username").val();
                var email=$("#email").val();
                var password=$("input#password").val();
                var role = $("select#role").val();
                var senior  = $('select#senior').val();

                console.log('seniorr',senior);

                $.ajax({
                    url: '{{ path("user_create") }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'username':username,
                        'email': email,
                        'password':password,
                        'role':role,
                        'senior':senior
                    },
                    cache: false,
                    success: function(response) {

                        window.location.reload();
                    },
                    error: function(reponse) {

                        console.log('here');
                        $("div#warning-add").show();
                        $("div#msg_alert").text(reponse.responseText);
                    }
                });

            });
        });

    </script>
{% endblock %}
