{% extends 'base.html.twig' %}
{% block body %}



                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Bureau</th>
                                            <th>Clients</th>
                                            <th>Nb de paie</th>
                                            <th>Etat d'avancement paie</th>
                                            <th>Collaborateur Mazars France</th>
                                            <th>Senior BPO Tunis Paie</th>
                                            <th>Gestionnaire BPO Tunis Paie</th>
                                            <th>Date reception theorique</th>
                                            <th>Date reception effective</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set i = 0 %}
                                        {% for bureau in bureaus %}
                                        {% if bureau.client|length != 0 %}
                                            {% for client in bureau.client %}


                                            <tr>
                                                <td><a href="{{ path('bureau_show', { 'id': bureau.id }) }}">{{ bureau.id }}</a></td>
                                                <td>{{ bureau.nom }}</td>



                                                <td>{{ client }}</td>



                                                <td>{{ bureau.adresse }}</td>
                                                <td>{{ bureau.telephone }}</td>
                                                <td>{{ bureau.tarifPaie }}</td>
                                                <td>{{ app.user.nom }}</td>
                                                <td>
                                                    <select class="form-control">
                                                        {% for assistant in users %}
                                                        <option>{{ assistant.username }}</option>
                                                         {% endfor %}
                                                    </select>
                                                </td>
                                                <td>{{ bureau.tarifSortie }}</td>
                                                <td>{{ bureau.attestation }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="{{ path('bureau_show', { 'id': bureau.id }) }}">consulter</a>
                                                    </button>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="{{ path('bureau_edit', { 'id': bureau.id }) }}">modifier</a>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td><a href="{{ path('bureau_show', { 'id': bureau.id }) }}">{{ bureau.id }}</a></td>
                                                <td>{{ bureau.nom }}</td>



                                                <td><input type="text" class="form-control                                                                                                                                                                                                                                                                                                                                                                                                                                                        "> </td>



                                                <td>{{ bureau.adresse }}</td>
                                                <td>{{ bureau.telephone }}</td>
                                                <td>{{ bureau.tarifPaie }}</td>
                                                <td>{{ bureau.tarifDucs }}</td>
                                                <td>{{ bureau.tarifEntree }}</td>
                                                <td>{{ bureau.tarifSortie }}</td>
                                                <td>{{ bureau.attestation }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="{{ path('bureau_show', { 'id': bureau.id }) }}">consulter</a>
                                                    </button>
                                                    <button type="button" class="btn btn-default">
                                                        <a href="{{ path('bureau_edit', { 'id': bureau.id }) }}">modifier</a>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <button type="button" class="btn btn-dark">
                                        <a href="{{ path('bureau_new') }}">Creer </a>
                                    </button>
{% endblock %}
{% block javascripts %}
                                {% endblock %}
