{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role_user</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role_user.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ role_user.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ role_user.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if role_user.createdAt %}{{ role_user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if role_user.updatedAt %}{{ role_user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ role_user.enable }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ role_user.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('role_user_edit', { 'id': role_user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
